body {
    background-color:#fff2cc; 
}

.jumbotron {
    background-color: #ffd699;
}

#start {
    background-color: #00994d;
    border: black;
}

button {
    background-color:#cc7a00;
    color:white;
    height: 3em;
    width: 75%;
    padding: 0.5em;
    margin: 1em;
    /*text-align:center;*/
    border-radius: 5px;
    text-align:left;
}

p {
    font-weight: bolder;
    padding-top: 2em;
}

#question-Block {
    position: relative;
}

span {      /*for time display*/
    position: absolute;
    top: 4em;
    right: 2em;
    background-color: #00994d;
    color: white;
    height: 2.5em;
    width: 9em;
    padding: 0.5em;
    margin: 1em;
    border-radius: 5px;
    text-align:center;

}